body {
  font-family: open-sans;
}
div {
  width: 300px;
  border: 1px solid gray;
  box-shadow: 0px 1px 2px 0px gray;
}
h3 {
  border: 1px solid black;
  display: inline-block;
  margin: 10px 10px;
  padding: 5px;
}
h1 {
  margin: 10px;
}
h4 {
  margin: 10px 40px;
}
li {
  font-family: sans-serif;
  list-style-type: none;
  color: gray;
  margin-left: -15px;
  padding: 5px;
}
button {
  background-color: black;
  color: antiquewhite;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 10px;
}
